/* UNDER CONSTRUCTION */
.under-construction {
    margin-top: 15vh;
    margin-right: 5vh;
    margin-left: 5vh;
    margin-bottom: 5vh;
    height: 100vh;
    border-radius: 3vh;
    padding-top: 1vh;
    padding-left: 5vh;
    background: white;
    align: center;
    text-align: left;
}
h1 {
    font-size: 10vh;
}

#construction {
    margin-left: 45vh;
}

/* UNDER CONSTRUCTION */

/* END */