{% extends 'base.html' %}
{% block CSS %}
{% load static %}
    <link href = "{% static 'CSS/under_construction.css' %}" rel = "stylesheet" type = "text/css" >
{% endblock %}
{% block title %}
    <title>Coming Soon</title>
{% endblock %}

{% block content %}
    <!-- UNDER CONSTRUCTION -->
    <div class = "under-construction">
        <h1>UNDER CONSTRUCTION</h1>
        <h2>This page is under construction. Fret not, it will be ready soon!</h2>
        {% load static %}
        <img id=construction src="{% static 'IMG/construction_tools.jpeg' %}" alt="TOOLS">
    </div>
    <!-- About -->

{% endblock %}